@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navlinks {
      @apply font-medium hover:underline hover:decoration-2 rounded-full md:p-4 p-2 cursor-pointer hover:font-bold   tracking-wider text-center active:underline underline-offset-8  hover:scale-110 transition-transform duration-200 ease-out decoration-black
  }
  .img {
    @apply w-full h-[700px] object-cover bg-fixed
  }
  .imgcontainer {
    @apply text-white p-[20px] rounded-sm text-left bg-black/40 absolute top-[46%] left-[10%] right-[0] max-w-[240px]
  }

}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
