@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap')(:-moz-full-screen) */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}